@import "variables";

@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin mobile-wide {
  @media (min-width: #{$mobile-wide}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin tablet-wide {
  @media (min-width: #{$tablet-wide}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin full-screen {
  @media (min-width: #{$full-screen}) {
    @content;
  }
}

@mixin arrow-style($color: $light-grey) {
  content: "";
  position: absolute;
  width: 0.7em;
  aspect-ratio: 1/1;
  border-top: 2px solid $color;
  border-right: 2px solid $color;
  transition: border-color 0.1s ease-in;
}