//media
$mobile: 400px;
$mobile-wide: 430px;
$tablet: 800px;
$tablet-wide: 830px;
$desktop: 1280px;
$full-screen: 1440px;

//fonts
$font-open-sans: "Open Sans", sans-serif;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$fs-8s: 8.89px;
$fs-10: 10px;
$fs-10s: 10.57px;
$fs-11s: 11.04px;

//colors
$black: #000000;
$white: #ffffff;
$light-grey: #707580;
$dark-grey: #2b2c36;
$very-dark-grey: #14161b;
$orange: #e98200;
$shadow: hsla(244, 61%, 89%, 0.5);
